body {
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    font-family: 'Arial', sans-serif;
  line-height: 1.6;
    padding: 20px;
}

.section {
    height: 100vh;
    padding: 40px 0;
}